.mainTitle{
	font-family: 'Amatic SC', cursive;
	font-size: 64px;
	color: #677077;
}

body{
	background-color: #252839;
}

.defaultText{
	color: #677077;

}

.select-wrapper input.select-dropdown {
	color: #677077;
}


.dropdown-content li>a, .dropdown-content li>span {
	color: #f2b632;
}

.input-field input[type=text]:focus + label {
	color: #f2b632 !important;
}

.row .input-field input:focus {
   border-bottom: 1px solid #f2b632 !important;
   box-shadow: 0 1px 0 0 #f2b632 !important
 }

 .btn {
 	background-color: #677077;
 	color: #252839;
 }

 .btn:hover {
 	background-color: #f2b632;
 }

 /* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 500px;
  width: 500px;
  display: inline-block;
  margin-top: 30px;

}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}